<div class="flex justify-center h-screen bg-gray-200 p-4">
    <!-- Left side - Settings (fixed position) -->
    <div class="flex">
        <div *ngIf="showSettings"
            class="fixed left-0 top-4 w-96 p-6 bg-white/30 backdrop-blur-lg rounded-3xl shadow-lg border-r border-green-300">
            <!-- Contenu de Settings -->
            <app-settings></app-settings>
        </div>
    </div>

    <!-- Right side - Home -->
    <div class="flex-1 max-w-2xl p-6 bg-white/30 backdrop-blur-lg rounded-3xl shadow-lg ml-[400px]">
        <!-- Contenu de Home -->
        <app-home (settingsToggle)="toggleSettings()"></app-home>
    </div>
</div>