<div class="flex justify-center h-screen bg-gray-200 p-4">
    <!-- Left side - Home -->
    <div class="flex-1 max-w-4xl p-6 bg-white/30 backdrop-blur-lg rounded-3xl shadow-lg" style="flex-basis: calc(75% - 1rem);">
        <!-- Contenu de Home -->
        <app-home></app-home>
    </div>
    <!-- Right side - Settings -->
    <div class="w-96 p-6 bg-white/30 backdrop-blur-lg rounded-3xl shadow-lg border-l border-green-300 ml-10">
        <!-- Contenu de Settings -->
        <app-settings></app-settings>
    </div>
</div>
